.menu-item {
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}
.menu-item:hover {
    transform: scale(1.05);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.15);
}
.menu-item .overlay {
    display: none;
}
.menu-item:hover .overlay {
    display: flex;
    opacity: 1;
    transform: translateY(-10px);
    transition: opacity 0.3s ease, transform 0.3s ease;
    z-index: 10;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
}
.nav-link:hover {
    color: #1e40af; /* Lacivert renk */
    transition: color 0.3s ease;
}
.nav-button {
    transition: all 0.3s ease;
}
.nav-button:hover {
    background-color: #1e40af; /* Lacivert renk */
    transform: translateY(-2px);
    color: white; /* Metin rengi beyaz olur */
}