.menu-item {
  transition: none;
}
.menu-item:hover {
  transform: none;
  box-shadow: none;
}
.nav-link:hover,
.spesyal-link:hover {
  color: #1e40af;
  transition: color 0.3s ease;
}
.nav-button {
  transition: all 0.3s ease;
}
.nav-button:hover {
  background-color: #1e40af;
  transform: translateY(-2px);
  color: white;
}
.active {
  font-weight: bold;
  color: #ffffff;
}
#cart-items button {
  padding: 2px 6px;
  border: none;
  cursor: pointer;
}
#coupon-list {
  transition: max-height 0.3s ease;
  max-height: 0;
  overflow: hidden;
}
#coupon-list.open {
  max-height: 500px;
}
#arrow-icon.rotate {
  transform: rotate(180deg);
}
